/* line 8, ../_helpers.scss */
.h100, html, body, article {
  height: 100%;
}

/* line 11, ../_helpers.scss */
.h40 {
  height: 40%;
}

/* line 15, ../_helpers.scss */
.f-row, .f-col, .section__container, .me__list-container, .achievements, .rocket, .rocket__content, .contact, .contact__list-container, .rocket__list, .contact__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 19, ../_helpers.scss */
.f-col, .section__container, .me__list-container, .achievements, .rocket, .rocket__content, .contact, .contact__list-container {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 24, ../_helpers.scss */
.f-1, .section__container, .achievements__abs-content, .rocket__content, .contact__list-container {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 28, ../_helpers.scss */
.fill, .watermark > .fa, .rocket__list > li > a:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 39, ../_helpers.scss */
.virgin-button, .navbar button {
  background: none;
  border: none;
}

/* line 44, ../_helpers.scss */
.virgin-ul, .me__list, .rocket__list, .contact__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 50, ../_helpers.scss */
.virgin-figure {
  margin: 0;
}

/* line 58, ../_helpers.scss */
.section-title {
  border-bottom: 1px solid;
  text-align: center;
}

/* line 85, ../_helpers.scss */
.section__container {
  position: relative;
  z-index: 5;
  padding: 0 10px;
  min-height: 300px;
}
@media (min-width: 768px) {
  /* line 85, ../_helpers.scss */
  .section__container {
    margin-left: 80px;
  }
}

/* line 8, ../_normalize.scss */
a {
  color: inherit;
}

/* line 12, ../_normalize.scss */
body {
  font-family: 'Lato';
  color: #111;
}
@media (min-width: 768px) {
  /* line 12, ../_normalize.scss */
  body {
    font-size: 1.5em;
  }
}

/* line 24, ../_normalize.scss */
section {
  overflow: auto;
}

/* line 32, ../_normalize.scss */
h1 {
  margin: 0;
  font-weight: normal;
}

/* line 4, ../_navbar.scss */
.navbar {
  font-size: 1.5em;
  color: #fff;
  z-index: 1000;
}
/* line 9, ../_navbar.scss */
.navbar button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
  transition: .2s ease;
  transition-property: background-color, color;
}
/* line 17, ../_navbar.scss */
.navbar button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 21, ../_navbar.scss */
.navbar button.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 767px) {
  /* line 4, ../_navbar.scss */
  .navbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  /* line 36, ../_navbar.scss */
  .navbar button {
    height: 50px;
  }
}
@media (min-width: 768px) {
  /* line 4, ../_navbar.scss */
  .navbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    height: 100%;
    width: 70px;
  }
}

/* line 5, ../_watermark.scss */
.watermark {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 5, ../_watermark.scss */
  .watermark {
    top: 0;
    bottom: 0;
    right: 0;
    left: 70px;
  }
}
/* line 23, ../_watermark.scss */
.watermark > .fa {
  opacity: 0.1;
  margin: auto;
  font-size: 170px;
  height: 170px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 23, ../_watermark.scss */
  .watermark > .fa {
    font-size: 340px;
  }
}

/* line 5, ../_me.scss */
.me {
  background-color: rgba(0, 0, 0, 0.6);
  background: url("http://1.gravatar.com/avatar/1e7cd3d5b060997af752aee10d724da1?s=680") no-repeat;
  background-size: cover;
  background-position: top;
}
/* line 18, ../_me.scss */
.me__list-container {
  color: #fff;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 768px) {
  /* line 18, ../_me.scss */
  .me__list-container {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 767px) and (max-height: 431.4375px) {
  /* line 18, ../_me.scss */
  .me__list-container {
    background: rgba(0, 0, 0, 0.6);
  }
}
/* line 41, ../_me.scss */
.me__list {
  height: 200px;
}
@media (max-width: 767px) {
  /* line 41, ../_me.scss */
  .me__list {
    padding: 100px 0 60px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);
  }
}
@media (max-width: 767px) and (max-height: 431.4375px) {
  /* line 41, ../_me.scss */
  .me__list {
    padding-top: 0px;
  }
}
@media (min-width: 768px) {
  /* line 41, ../_me.scss */
  .me__list {
    height: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 65, ../_me.scss */
.me__list > li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #fff;
  font-size: 1.15em;
}
/* line 67, ../_me.scss */
.me__list > li.old-browser {
  display: none;
}
/* line 78, ../_me.scss */
.me__list > li > .fa {
  text-align: center;
  width: 55px;
  margin-left: -15px;
}
/* line 84, ../_me.scss */
.me__list > li:nth-child(1) {
  overflow: hidden;
}
/* line 88, ../_me.scss */
.me__list > li:nth-child(1) h1 {
  font-size: 40px;
}
@media (min-width: 768px) {
  /* line 88, ../_me.scss */
  .me__list > li:nth-child(1) h1 {
    font-size: 65px;
  }
}

/* line 10, ../_achievements.scss */
.achievements {
  background-color: #4F8C86;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 71, ../_helpers.scss */
  .achievements__nav-back {
    position: absolute;
    z-index: 5;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: #4F8C86;
  }
}
/* line 15, ../_achievements.scss */
.achievements__abs-content {
  overflow: auto;
}
@media (max-width: 767px) {
  /* line 15, ../_achievements.scss */
  .achievements__abs-content {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  /* line 15, ../_achievements.scss */
  .achievements__abs-content {
    padding-right: 30px;
  }
}

/* line 31, ../_achievements.scss */
.achievements-timeline {
  padding: 0;
  list-style: none;
  position: relative;
  display: table;
  width: 100%;
  z-index: 0;
  color: black;
  margin: 0 auto 30px;
}
/* line 45, ../_achievements.scss */
.achievements-timeline:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 33px;
  top: 0;
  bottom: -30px;
  width: 10px;
  margin-left: -5px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 60, ../_achievements.scss */
.achievements-timeline__li {
  position: relative;
}
/* line 63, ../_achievements.scss */
.achievements-timeline__li > .fa {
  width: 40px;
  height: 40px;
  speak: none;
  line-height: 40px;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  background-color: #4F8C86;
  padding: 4px;
  box-shadow: 0 0 0 4px #fff;
  text-align: center;
  left: 34px;
  top: -4px;
  margin: 0 0 0 -25px;
}
@media (max-width: 767px) {
  /* line 63, ../_achievements.scss */
  .achievements-timeline__li > .fa {
    font-size: 1.4em;
  }
}
/* line 91, ../_achievements.scss */
.achievements-timeline__body {
  position: relative;
  margin: 5px 0 30px 93px;
  background-color: white;
  padding: 2em;
}
/* line 98, ../_achievements.scss */
.achievements-timeline__body > h3 {
  margin: 0 0 5px;
}
/* line 102, ../_achievements.scss */
.achievements-timeline__body:after {
  content: " ";
  right: 100%;
  height: 0;
  width: 0;
  position: absolute;
  border: solid transparent;
  pointer-events: none;
  border-right-color: #fff;
  border-width: 20px;
  top: 0;
}
/* line 117, ../_achievements.scss */
.achievements-timeline__year {
  display: block;
  margin: 113.3333333333px 0 1em;
  padding-left: 48px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 992px) {
  /* line 31, ../_achievements.scss */
  .achievements-timeline {
    margin: auto;
    width: 768px;
  }
}

/* line 7, ../_rocket.scss */
.rocket {
  background-color: #97A629;
  color: #fff;
}
/* line 15, ../_rocket.scss */
.rocket__content {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 23, ../_rocket.scss */
.rocket__list {
  overflow: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
@media (max-width: 767px) {
  /* line 23, ../_rocket.scss */
  .rocket__list {
    margin-bottom: 50px;
  }
}
/* line 42, ../_rocket.scss */
.rocket__list > li {
  margin: 50px;
}
/* line 47, ../_rocket.scss */
.rocket__list > li > a {
  text-decoration: none;
  color: #111;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 130px;
  height: 150px;
  background: #fff;
  padding: 0 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}
/* line 64, ../_rocket.scss */
.rocket__list > li > a:before {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid white;
}
/* line 70, ../_rocket.scss */
.rocket__list > li > a > div {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 767px) {
  /* line 79, ../_rocket.scss */
  .rocket .rocket__nav-back {
    position: absolute;
    z-index: 5;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: #97A629;
  }
}

/* line 6, ../_contact.scss */
.contact {
  background-color: #F23030;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 71, ../_helpers.scss */
  .contact__nav-back {
    position: absolute;
    z-index: 5;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: #F23030;
  }
}
@media (max-width: 767px) {
  /* line 12, ../_contact.scss */
  .contact > .section__container {
    padding-bottom: 50px;
  }
}
/* line 18, ../_contact.scss */
.contact__list-container {
  padding: 20px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 29, ../_contact.scss */
.contact__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
/* line 36, ../_contact.scss */
.contact__list > li {
  margin-top: 10px;
  margin-right: 10px;
}
/* line 41, ../_contact.scss */
.contact__list > li > a {
  text-align: center;
  display: block;
  color: #eee;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
@media (max-width: 767px) {
  /* line 41, ../_contact.scss */
  .contact__list > li > a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}
@media (min-width: 768px) {
  /* line 41, ../_contact.scss */
  .contact__list > li > a {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 1.5em;
  }
}
