.h100, html, body {
  height: 100%; }

.h40 {
  height: 40%; }

.f-row, .f-col, .section__container {
  display: flex; }

.f-col, .section__container {
  flex-direction: column; }

.f-1, .section__container {
  flex: 1; }

.fill, body:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.virgin-button {
  background: none;
  border: none; }

.virgin-ul, .me__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.virgin-figure {
  margin: 0; }

.section-title {
  border-bottom: 1px solid;
  text-align: center; }

.section__container {
  position: relative;
  z-index: 5;
  padding: 0 10px;
  min-height: 300px; }
  @media (min-width: 768px) {
    .section__container {
      margin-left: 80px; } }

body {
  font-family: 'Lato';
  background: url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/1374780_746857325324990_1630463240_n.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  color: #fff; }
  body:before {
    content: "";
    z-index: -1;
    background: #111;
    opacity: 0.75; }
  @media (min-width: 768px) {
    body {
      font-size: 2em; } }

a {
  color: inherit; }

.navbar {
  display: none; }

.old-browser {
  display: table !important; }

.me__list {
  padding-left: 30px;
  display: table-cell;
  vertical-align: middle; }
  .me__list-container {
    display: table;
    width: 100%; }
  .me__list li > h1 {
    margin-top: 0; }
  .me__list li + li {
    display: table;
    table-layout: fixed;
    font-size: 1.2em; }
  .me__list i {
    display: table-cell;
    width: 1.9em;
    text-align: center; }
    .me__list i + div, .me__list i + a {
      display: table-cell; }
