

html{
    background: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    font: 16px/1.4 Open Sans, Helvetica, Arial, sans-serif;
}

/////////////////////////
////////// GITHUB RIBBON
////////// FROM : http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/

.ribbon {
    background-color: hsl(0, 0%, 33%);
    overflow: hidden;
/* top left corner */
    position: absolute;
    left: -3em;
    top: 2.5em;
/* 45 deg ccw rotation */
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
/* shadow */
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
    border: 1px solid hsl(0, 0%, 83%);
    color: #fff;
    display: block;
    font-size: 81.25%;
    font-weight: bold;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
/* shadow */
    text-shadow: 0 0 0.5em #444;
}

/////////////////////////
//////////

.container{
    max-width: 720px;
    padding: 40px;
    margin: 0 auto;
}

