/* Write your global styles here, in PostCSS syntax */
html,
body,
main,
root,
article {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

html.wf-active > body {
  font-family: "Lato", sans-serif;
}

body {
  color: #111;
  flex: 1;
}

ul {
  list-style: none;
}

a {
  color: white;
  font-weight: bold;
}

root,
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  color: white;
}

svg {
  fill: currentColor;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}nav.svelte-qhlyut{font-size:1.5em;color:#fff;display:flex;width:100%}@media screen and (min-width: 768px){nav.svelte-qhlyut{flex-direction:column}}a.svelte-qhlyut{flex:1;display:flex;align-items:center;justify-content:center;background-color:rgba(0, 0, 0, 0.6);color:#eee;transition:0.2s ease;transition-property:background-color, color}a.svelte-qhlyut:hover{background-color:rgba(0, 0, 0, 0.7)}a.active.svelte-qhlyut{color:#fff;background-color:rgba(0, 0, 0, 0.8)}@media screen and (max-width: 767px){a.svelte-qhlyut{height:50px}}@media screen and (min-width: 768px){a.svelte-qhlyut{width:70px}}layout.svelte-z8jyjr{display:flex;flex:1;background-color:var(--backgroundColor)}menu.svelte-z8jyjr{display:flex;margin:0;padding:0;position:fixed;transform:translateZ(0);will-change:transform;z-index:1000}@media screen and (max-width: 767px){menu.svelte-z8jyjr{bottom:0;left:0;right:0}}@media screen and (min-width: 768px){menu.svelte-z8jyjr{left:0;top:0;bottom:0}}@media screen and (min-width: 768px){main.svelte-z8jyjr{padding-left:70px}}main.imaged.svelte-z8jyjr{background-image:var(--backgoundImage);display:flex;flex-direction:column;background-position:center center;background-size:cover}@media screen and (max-width: 767px){main.imaged.svelte-z8jyjr{justify-content:flex-end}}