<section class="h100 achievements">
  <div class="section__container">
    <h1 class="section-title">Achievements</h1>

    <div class="achievements__abs-content">
      <ul class="achievements-timeline">
        <li><time class="achievements-timeline__year" datetime="2014-01-01T00:00">2014</time></li>

        <li class="achievements-timeline__li">
          <i class="fa fa-users"></i>
          <div class="achievements-timeline__body">
            <h3>Talk at the ngParis meetup</h3>

            <p>&laquo;<em> Waaa Again !? </em> &raquo; <br/>
            <p><a href="http://www.meetup.com/AngularJS-Paris/events/185603592/">Meetup AngularJS #13 @SFEIR</a></p>
          </div>
        </li>

        <li class="achievements-timeline__li">
          <i class="fa fa-users"></i>
          <div class="achievements-timeline__body">
            <h3>Talk at the ngParis meetup</h3>

            <p>&laquo;<em>Input[Range] over 9000 </em> &raquo; <br/>
            <p><a href="http://www.meetup.com/AngularJS-Paris/events/185603592/">Meetup AngularJS #12 @BeMyAppFr</a></p>
          </div>
        </li>

        <li class="achievements-timeline__li">
          <i class="fa fa-users"></i>
          <div class="achievements-timeline__body">
            <h3>Talk at the ngParis meetup</h3>

            <p>&laquo;<em>We need to make UI.Utils util again ! </em> &raquo; <br/>
            <p><a href="http://www.meetup.com/AngularJS-Paris/events/165733502/">Meetup AngularJS #8 @SFEIR</a></p>
          </div>
        </li>

        <li class="achievements-timeline__year">2013</li>

        <li class="achievements-timeline__li">
          <i class="fa fa-users"></i>
          <div class="achievements-timeline__body">
            <h3>Talk at the ngParis meetup</h3>

            <p>&laquo;<em>WaaaAnimation </em> &raquo; <br/>
            <p><a href="http://www.meetup.com/AngularJS-Paris/events/147070122/">Meetup #5 @Deezer</a></p>
          </div>
        </li>

        <li class="achievements-timeline__li">
          <i class="fa fa-suitcase"></i>
          <div class="achievements-timeline__body">
            <h3>Join SFEIR Paris</h3>

            <p>Software development company</p>
          </div>
        </li>

        <li class="achievements-timeline__li">
          <i class="fa fa-graduation-cap"></i>
          <div class="achievements-timeline__body">
            <h3>Graduated from <span class="no-wrap">Paris 8</span></h3>

            <p>MSc Human-Computer</p>
          </div>
        </li>

        <li class="achievements-timeline__li">
          <i class="fa fa-github-alt"></i>
          <div class="achievements-timeline__body">
            <h3>Join Angular UI</h3>

            <p>A open source organisation that buld widgets and directives for AngularJS</p>
          </div>
        </li>

      </ul>
    </div>


  </div>
  <div class="watermark">
    <i class="fa fa-trophy"></i>
  </div>

  <div class="achievements__nav-back"></div>
</section>
