
<section class="h100 contact">
  <div class="section__container">
    <h1 class="section-title">Contact me</h1>
    <div class="contact__list-container">
      <ul class="contact__list">
        <li><a target="_blank" href="mailto:douglasduteil@gmail.com" >Gmail</a></li>
        <li><a target="_blank" href="https://google.com/+DouglasDuteil" >Google +</a></li>
        <li><a target="_blank" href="https://twitter.com/douglasduteil" >Twitter</a></li>
        <li><a target="_blank" href="https://www.facebook.com/douglas.duteil" >Facebook</a></li>
        <li><a target="_blank" href="mailto:douglasduteil@outlook.com" >Outlook</a></li>
      </ul>
    </div>


  </div>
  <div class="watermark">
    <i class="fa fa-comments-o"></i>
  </div>
</section>
