<section class="h100 me">

  <div class="me__list-container h100">
    <ul class="f-col me__list">
      <li>
        <h1>
          Douglas Duteil

          <dd-fake-typer prefix="'#'" order="'random'">
            <dd-fake-typer-option>=========</dd-fake-typer-option>
            <dd-fake-typer-option>Contributor</dd-fake-typer-option>
            <dd-fake-typer-option>Developer</dd-fake-typer-option>
            <dd-fake-typer-option>Musician</dd-fake-typer-option>
            <dd-fake-typer-option>Gamer</dd-fake-typer-option>
            <dd-fake-typer-option>Sleeper</dd-fake-typer-option>
            <dd-fake-typer-option>Jogger</dd-fake-typer-option>
          </dd-fake-typer>
        </h1>
      </li>
      <li class="f-1 ">
        <i class="fa fa-map-marker"></i>
        <div>Paris, France</div>
      </li>
      <li class="f-1 ">
        <i class="fa fa-github-alt"></i>
        <div>AngularUI Member</div>
      </li>
      <li class="f-1 ">
        <i class="fa fa-suitcase"></i>
        <div>Front End Developer at SFEIR Paris</div>
      </li>
      <li class="old-browser">
        <i class="fa fa-thumbs-o-down"></i> <a href="http://whatbrowser.org/" target="_blank">Your browser sucks !</a>
      </li>

    </ul>

  </div>


</section>
