<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--
  ╲╲┃╭╮╭╮┃╲╲
  ╲┗┫┏━━┓┣┛╲
  ╲╲┃╰━━╯┃╲╲
   - unknown
  -->

  <title>Douglas Duteil</title>

  <meta name="author" content="Douglas Duteil">
  <meta name="copyright" content="© 2012-2018 Douglas Duteil">
  <meta name="description" content="Personal website">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


  <meta name="google-site-verification" content="iBkrsV348L2xIDfLttcTD6Es7Qm1EEqktzFpLjpDwy4" />

  <link rel="shortcut icon" href="icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-152x152.png">
  <meta name="apple-mobile-web-app-title" content="Douglas Duteil">
  <link rel="icon" type="image/png" href="icons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="icons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ff0000">
  <meta name="msapplication-TileImage" content="icons/mstile-144x144.png">
  <meta name="msapplication-config" content="icons/browserconfig.xml">
  <meta name="application-name" content="Douglas Duteil">

  <!--  -->
  ${model.header}
  <!--  -->
</head>

<body>

  <div id="root">
    <!--  -->
    ${model.body}
    <!--  -->
  </div>

  <script type='module'>
    import('/module/main.js');
    window.hasDynamicImport = true;
  </script>

  <!-- for older browsers -->
  <script nomodule src='https://unpkg.com/systemjs@0.21.0/dist/system-production.js'></script>
  <script nomodule>
    System.import('nomodule/main.js');
  </script>

  <!-- this snippet ensures nomodule fallback for browsers supporting modules but not dynamic import -->
  <script type="module">
    if (!window.hasDynamicImport) {
      const noms = Array.prototype.filter.call(document.getElementsByTagName('script'), x => x.hasAttribute('nomodule'));
      function nextLoad(nom, s) {
        if (!(nom = noms.shift())) return;
        s = document.createElement('script');
        if (nom.src)
          s.src = nom.src, s.addEventListener('load', nextLoad), s.addEventListener('error', nextLoad);
        else
          s.innerHTML = nom.innerHTML;
        document.head.appendChild(s);
        if (!nom.src) nextLoad();
      }
      nextLoad();
    }
  </script>

  <script async defer>
    WebFontConfig = {
      google: {
        families: ['Lato:300']
      }
    };
    (function () {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

</body>

</html>
