<section class="h100 rocket">
  <div class="section__container">
    <h1 class="section-title">Rocket</h1>


    <div class="rocket__content">

      <ul class="rocket__list">
        <li><a target="_blank" href="https://github.com/douglasduteil"><div>Github</div></a></li>
        <li><a target="_blank" href="http://plnkr.co/users/douglasduteil"><div>Plunker</div></a></li>
        <li><a target="_blank" href="http://cssdeck.com/user/DouglasDuteil"><div>CSSDesk</div></a></li>
        <li><a target="_blank" href="http://codepen.io/douglasduteil"><div>CodePen</div></a></li>
      </ul>
    </div>


  </div>
  <div class="watermark">
    <i class="fa fa-rocket"></i>
  </div>
  <div class="rocket__nav-back"></div>

</section>
