//

@import './_variables.scss';
@import './_mixins.scss';

//

menu {
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;

  transform: translateZ(0);
  will-change: transform;
  z-index: 1000;

  // mobile
  @media (--phone) {
    bottom: 0;
    left: 0;
    right: 0;
  }

  // no mobile
  @media (--tablet) {
    left: 0;
    top: 0;
    bottom: 0;
  }
}
