@global main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  margin-bottom: 50px;
  padding: 20vh 5vw 20px;
  height: 35vh;

  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-bottom: 5vh;
    margin-left: 70px;
  }
}

li {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.15em;

  &:not(:first-child) {
    flex: 1;
  }
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

i {
  text-align: center;
  margin-right: 20px;
}
