nav {
  font-size: 1.5em;
  color: #fff;
  display: flex;

  width: 100%;
}

a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  transition: 0.2s ease;
  transition-property: background-color, color;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &[active] {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 767px) {
  a {
    height: 50px;
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: column;
  }

  a {
    width: 70px;
  }
}
