//

@import './_variables.scss';
@import './_mixins.scss';

//

nav {
  font-size: 1.5em;
  color: #fff;
  display: flex;

  width: 100%;

  @media (--tablet) {
    flex-direction: column;
  }
}

a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  transition: 0.2s ease;
  transition-property: background-color, color;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &[active] {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }

  // mobile
  @media (--phone) {
    height: 50px;
  }

  // no mobile
  @media (--tablet) {
    width: $navbar--width;
  }
}
