//

@import './_variables.scss';
@import './_mixins.scss';

//== Page Layout
//-----------------------------------------------------------------------------

@global {
  @media (--tablet) {
    main {
      padding-left: $navbar--width;
    }
  }
}

title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  transform: translateZ(0);
  will-change: transform;

  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

section {
  flex: 1;
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
}

@media (--tablet) {
  section {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

watermark {
  $size: 170px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 0;
  opacity: 0.1;

  display: flex;
  align-items: center;
  justify-content: center;

  @global svg {
    width: $size;
    height: $size;
  }
}
