

//== Contact Views
//-----------------------------------------------------------------------------

.contact{

  @include section-theme($pomegranate);

  // modile
  @media (max-width: $screen-xs-max) {
    > .section__container {
      padding-bottom: $navbar--height;
    }
  }

  // contact__list-container
  &__list-container{
    @extend .f-col;
    @extend .f-1;

    padding: 20px;

    justify-content: center;

  }

  // contact__list
  &__list{
    @extend .virgin-ul;
    @extend .f-row;

    flex-wrap: wrap;
    justify-content: space-around;

    > li {

      margin-top: 10px;
      margin-right: 10px;

      > a{
        text-align: center;

        display: block;
        color: #eee;
        text-decoration: none;

        background-color: transparentize(#000, 0.5);
        border-radius: 50%;

        // modile
        @media (max-width: $screen-xs-max) {
          width: 100px;
          height: 100px;
          line-height: 100px;
        }

        // no modile
        @media (min-width: $screen-sm-min) {
          width: 200px;
          height: 200px;
          line-height: 200px;
          font-size: 1.5em;
        }
      }
    }
  }
}


