
//== Me Views
//-----------------------------------------------------------------------------

.me{

  $black : hsla(0,0%,0%,0.6);

  background-color: $black;

  background: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/1374780_746857325324990_1630463240_n.jpg') no-repeat;
  background-size: cover;
  background-position: top;



  // me__list-container
  &__list-container{

    color: #fff;
    @extend .f-col;
    justify-content: flex-end;

    // no modile
    @media (min-width: $screen-sm-min) {
      //width: 90%;
      justify-content: center;
      align-items: center;
      background: $black;
    }

    // modile landscape
    @media (max-width: $screen-xs-max) and (max-height: ($screen-xs-max / (16 / 9) )){
      background: $black;
    }


  }

  // me__list
  &__list{
    @extend .virgin-ul;

    height: 200px;


    // modile
    @media (max-width: $screen-xs-max) {
      padding: $navbar--height + 50 0 $navbar--height + 10;
      background: linear-gradient(to bottom, transparent 0%, $black 50%, $black 100%);
    }

    // modile landscape
    @media (max-width: $screen-xs-max) and (max-height: ($screen-xs-max / (16 / 9) )){
      padding-top: 0px;
    }

    // no modile
    @media (min-width: $screen-sm-min) {
      height: 300px;
      display: flex;
    }


    > li {

      &.old-browser {
        display: none;
      }

      display: flex;
      align-items: center;
      padding: 0 20px;
      color: #fff;

      font-size: 1.15em;

      > .fa {
        text-align: center;
        width: 55px;
        margin-left: -15px;
      }

      &:nth-child(1){
        // BFC
        overflow: hidden;

        h1{
          font-size: 40px;
          // no modile
          @media (min-width: $screen-sm-min) {
            font-size: 65px;
          }
        }
      }
    }
  }


}


