//== Navbar
//-----------------------------------------------------------------------------

.navbar {
  font-size: 1.5em;
  color: #fff;
  z-index: 1000;

  button {
    @extend .virgin-button;
    background-color: transparentize(#000, 0.6);
    color: #eee;

    transition: .2s ease;
    transition-property: background-color, color;

    &:hover {
      background-color: transparentize(#000, 0.7);
    }

    &.active {
      color: #fff;
      background-color: transparentize(#fff, 0.8);
    }

  }

  // only on mobile
  @media (max-width: $screen-xs-max) {
    display: flex;

    position: absolute;
    bottom: 0;
    width: 100%;

    button {
      height: $navbar--height;
    }
  }

  // no modile
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    height: 100%;
    width: $navbar--width;

  }
}

