//== Normalizer
//-----------------------------------------------------------------------------

html{
  @extend .h100;
}

a {
  color: inherit;
}

body{
  @extend .h100;
  font-family: 'Lato';

  // no modile
  @media (min-width: $screen-sm-min) {
    font-size: 1.5em;
  }

  color: #111;
}

section{
  overflow: auto;
}

article{
  @extend .h100;
}

h1{
  margin: 0;
  font-weight: normal;
}
