
//
//== Colors
//-----------------------------------------------------------------------------

$smalt-blue: #4F8C86;
$citron: #97A629;
$pomegranate: #F23030;


//== Media queries breakpoints
//-----------------------------------------------------------------------------

// TWBS 3.x screen sizes
$screen-xs-min:              480px;
$screen-sm-min:              768px;
$screen-md-min:              992px;
$screen-lg-min:              1200px;
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// modile
// @media (max-width: $screen-xs-max) { ... }
// tablet
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { ... }
// little screen
// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { ... }
// large screen
// @media (min-width: $screen-lg-min) { ... }

//==
//-----------------------------------------------------------------------------

$navbar--height: 50px;
$navbar--width: 70px;

$watermark-icon-size : 170px;
