@import 'variables';
@import 'helpers';

html, body {
  @extend .h100;
}

body {

  font-family: 'Lato';

  background: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/1374780_746857325324990_1630463240_n.jpg') no-repeat;
  background-size: cover;
  background-position: top;

  overflow: hidden;

  color: #fff;

  &:before {
    content: "";
    @extend .fill;
    z-index: -1;
    background: #111;
    opacity: 0.75;
  }

  // no modile
  @media (min-width: $screen-sm-min) {
    font-size: 2em;
  }
}

a {
  color: inherit;
}

.navbar {
  display: none;
}

.old-browser {
  display: table !important;
}

.me__list {

  // me__list-container
  &-container {
    display: table;
    width: 100%;
  }

  @extend .virgin-ul;
  padding-left: 30px;
  display: table-cell;
  vertical-align: middle;

  li > h1 {
    margin-top: 0;
  }

  li + li {
    display: table;
    table-layout: fixed;
    font-size: 1.2em;
  }

  i {
    display: table-cell;
    width: 1.9em;
    text-align: center;

    + div, + a {
      display: table-cell
    }
  }
}
