---
name: CI

on:
  push:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: node
          cache: "yarn"

      - run: yarn install

      - run: yarn lint
      - run: yarn check
      - run: yarn test

      - run: yarn build

      # Ensure that we produced a dist folder
      - run: test -f build/index.html

      - name: Deploy
        if: github.ref == 'refs/heads/boss'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: master
          publish_dir: ./build
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          commit_message: ${{ github.event.head_commit.message }}
